{% extends "!layout.html" %}
{% block extrahead %}
    <link href="{{ pathto('_static/style.css', True) }}" rel="stylesheet" type="text/css">
    <meta name="google-site-verification" content="JVzTMPjsCY-U-SaJERGf-eviRxXUPfFkPFdiF_MINCU" />
    <meta name="author" content="okex Core Group, Inc." />
    <meta name="copyright" content="© Copyright 2019 okex Core Group, Inc." />
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "Organization",
			"url": "https://www.okex.org",
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "https://docs.okex.org"
			},
			"publisher": {
				"@type": "Organization",
				"name": "okex Core Group, Inc.",
				"logo": {
					"@type": "ImageObject",
					"url": "https://docs.okex.org/en/stable/_images/okex_logo.png",
					"width": 1446,
					"height": 424
				}
			}
		}
	</script>
{% endblock %}
