.wy-side-nav-search {
    background-color: #008de4;
}

.wy-breadcrumbs select.wy-breadcrumbs-aside {
    float: right;
}

html[lang=ar] {
    direction: rtl;
}

/* Preformatted and code formatted segments LTR */
html[lang=ar] pre {
    direction: ltr;
}

html[lang=ar] code {
    unicode-bidi: bidi-override;
    direction: ltr;
}

/* Force floated images float opposite in Arabic */
html[lang=ar] .rst-content .align-right {
    float: left;
}

/* RTD navigation changes for Arabic */
html[lang=ar] .wy-breadcrumbs select.wy-breadcrumbs-aside {
    float: left;
}

html[lang=ar] .wy-nav-side, html[lang=ar] .rst-versions {
    right:0;
}

html[lang=ar] .wy-nav-content-wrap {
    margin-right: 300px;
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    html[lang=ar] .wy-nav-side {
        right:-300px;
    }
    html[lang=ar] .wy-nav-side.shift {
        right:0;
    }
    html[lang=ar] .wy-nav-content-wrap {
        margin-right:0;
    }
    html[lang=ar] .wy-nav-content-wrap.shift {
        right:85%;
    }
}

html[lang=ar] .wy-nav-top i {
    float:right;
}

html[lang=ar] .wy-menu-vertical li span.toctree-expand {
	float:none;
	margin-right: -1.2em;
	margin-left: 0;
	padding-left: .4em;
}

html[lang=ar] .wy-breadcrumbs li.wy-breadcrumbs-aside {
	float:left;
}

html[lang=ar] .wy-menu-vertical li.current>a span.toctree-expand {
	display:inline-block;
}

html[lang=ar] .wy-plain-list-disc li, .rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li {
    margin-right: 24px;
}

html[lang=ar] .wy-plain-list-decimal li, .rst-content .section ol li, .rst-content ol.arabic li, article ol li {
    margin-right: 24px;
}
